<div class="spark" id="apple" style="background:url(../images/apple.png)top left no-repeat">
<div class="overlay">
<div class="card">
<h3>Apple Homepage</h3>
<span>spark &nbsp;&bull;&nbsp; related &nbsp;&bull;&nbsp; launch</span>
</div>
</div>
</div>

<div class="spark" id="apple" style="background:url(../images/fairview.png)top left no-repeat">
<div class="overlay">
<div class="card right">
<h3>Fairview HS Redesign</h3>
<span>spark &nbsp;&bull;&nbsp; related &nbsp;&bull;&nbsp; launch</span>
</div>
</div>
</div>

<div class="spark" id="apple" style="background:url(../images/apple.png)top left no-repeat">
<div class="overlay">
<div class="card">
<h3>Apple Homepage</h3>
<span>spark &nbsp;&bull;&nbsp; related &nbsp;&bull;&nbsp; launch</span>
</div>
</div>
</div>

<div class="spark" id="apple" style="background:url(../images/fairview.png)top left no-repeat">
<div class="overlay">
<div class="card right">
<h3>Fairview HS Redesign</h3>
<span>spark &nbsp;&bull;&nbsp; related &nbsp;&bull;&nbsp; launch</span>
</div>
</div>
</div>