!!!
html
  head
    title INSPIRIO &mdash; Spark your creativity.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Jockey+One:400')
  body
    #wrapper
      #header
        #logo
          <h1>INSPIR<span id="period">.</span><span id="io">io</span></h1>
      - if (flash.info)
        #flash!= flash.info
      - if (flash.error)
        #error!= flash.error
      != body 