!!!
html
  head
    title INSPIRIO &mdash; Spark your creativity.
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="public/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  body
    #wrapper
      header
        h1 
          | Inspir<!--io--><span>ation <b>
          | <em>kindles</em> creativity</b></span><b>.</b><i>io</i>
      #mask
      #sparks-wrapper
        != body
<<<<<<< HEAD
=======
              
>>>>>>> Installed passport.js
        .clear