!!!
html
  head
    title INSPIRIO &mdash; Spark your creativity.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Jockey+One:400')
  body
    #wrapper
      <h1>INSPIR<span id="period">.</span><span id="io">io</span></h1>
      
      <form name="URL_input" action="/short" method="POST" enctype="application/json">
      <input type="text" name="link">
      <input type="submit" name="Shorten" value="Shorten!">
      </form>