.shim.clear

script(type='text/javascript')
  $(function() {
    $("#url-input").focus();
  });

<form id="url-shorten" action="/shorten" method="POST" enctype="application/json"><input type="text" id="url-input" name="url-input" />

<button type="submit" name="Shorten" value="Shorten!">Shorten!</button>