body {
  background: url(/images/bg.png) repeat top left fixed;
  text-rendering: optimizeSpeed;
  font-family: 'Helvetica Neue';
  font-size:90%;
  height:100%;
}

#wrapper {
  position:relative;
  margin: 30px auto;
  width:960px;
  height:100%;
  background:rgba(0,0,0,.1);
}

#mask {
  background:url(/images/bg.png) top left repeat fixed;
  height:30px;
  position:fixed;
  top:0;
  left:auto;
  width:111%;
  margin-left:-2px;
  padding-left:22px;
}

#sparks-wrapper {
  padding: 96px 0;
  margin:0 auto;
}

.clear {
 clear:both;
}

.spark {
  background: RGBA(250, 250, 250, 0.6);
  margin:26px 0 0 0;
  border-left:none;
  width:20%;
  float:left;
  margin-right:5.1%;
}


@font-face {
	    font-family: 'BebasNeueRegular';
	    src: url('/fonts/BebasNeue-webfont.eot');
	    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/BebasNeue-webfont.woff') format('woff'),
	         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
	         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

header {
  position:fixed;
  top:30px;
  left:auto;
  width:960px;
  border-top:2px solid #f11;
  background: #0c0c0c;
  color: #fff;
  font: normal normal normal 30px/1 'Bebas Neue', 'BebasNeue', 'BebasNeueRegular', 'League Gothic', 'Helvetica Neue Condensed Bold', 'Helvetica Bold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: -4px 1px 0 #0c0c0c;
  height:93px;
}

h1{width:23%;white-space:nowrap;overflow-x:visible;margin-top:17px;margin-left:36px;cursor:pointer;}

header b {
  font-family:Georgia;
  font-size:100%;
  font-style:normal;
  color:red;
  margin-left:-6px;
  text-shadow:-3px 0 0 #0c0c0c, -2px 3px 0 #0c0c0c, -2px -2px 0 #0c0c0c;
}

header i {
  font-family: Georgia;
  font-size: 64%;
  margin-left:-6px;
  text-transform: lowercase;
  padding-top:2.5%;
}

header span{display:none;color:red;}
header span b {font-family:inherit;color:white;margin-left:0;}
header span em {
  font-style:italic;
  font-family: Consolata, Georgia, 'Times New Roman', Times, serif;
  font-size:33%;
  text-transform:lowercase;
  font-weight:700;
  text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 orange;
  padding-right:1px;
}


h1:hover {
  color:red;
  text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 red;
}
h1:hover b{
  color:white;
  text-shadow:-3px 0 0 #0c0c0c, -2px 3px 0 #0c0c0c, -2px -2px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 red;
}

h1:active span {display:inline;}

header b::selection {color:white}
header ::selection, header span b::selection{color:#61f;background-color:none;text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 white;}
header:hover ::selection{text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 orange;}
header:active em::selection{text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 red;}

header b::-moz-selection {color:white}
header ::-moz-selection, header span b::-moz-selection{color:#61f;background-color:none;text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 white;}
header:hover ::-moz-selection{text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 orange;}
header:active em::-moz-selection{text-shadow: -4px 1px 0 #0c0c0c, 3px 3px 0 #0c0c0c, 4px 4px 0 red;}